<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
</head>
<style>
#text_of_new_task
{
    height:200px;
    font-size:14pt;
}
</style>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <p>{{user.username}}</p>
        <a href="/profile/">Edit profile</a><br>
        <a href="/logout/">Logout</a><br>
        <hr>
        <p>Create a task</p><br>
        <label for="text_of_new_task">Text:</label>
        <input type="text" id="text_of_new_task" name="text_of_new_task"><br>

        <label for="deadline_of_new_task">Deadline</label>
        <input type="date" id="deadline_of_new_task" name="deadline_of_new_task"><br>

        <label for="task_priority">Task priority: </label>
        <select id="task_priority" name="task_priority">
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
        </select><br>

        <input type="submit" value = "Create task"
               hx-trigger="click"
               hx-post="/createtask/"
               hx-include="#text_of_new_task, #task_priority, #deadline_of_new_task, [name = 'csrfmiddlewaretoken']"
               hx-target="#tasks"
        >
        <hr><br><br>
        {% block tasks %}
            <div id = "tasks">
            <p>Deadline: today</p>
            <hr color="red">
                <div>
                    {% if tasks_today is not None %}
                        {% for i in tasks_today %}
                            <p>{{ i.text }}</p>
                            <p>{{ i.deadline }}</p>
                            <p>{{ i.priority }}</p>
                            <p>{{ i.deadline }}</p>
                            {% if i.done == True %}
                                <div>
                                    <p>Task finished</p>
                                </div>
                            {% else %}
                                <div>
                                    <p>Task is not finished yet</p>
                                </div>
                            {% endif %}
                            <a href="/edittask/{{ i.id }}"> View the task</a>
                        {% endfor %}
                    {% else %}
                        <div>
                            <p>No tasks with such deadline found</p>
                        </div>
                    {% endif %}
                </div>
            <hr color="red"><br><br>

            <p>Deadline: tomorrow</p>
            <hr color="yellow">
                <div>
                    {% if tasks_tomorrow is not None %}
                        {% for i in tasks_tomorrow %}
                            <p>{{ i.text }}</p>
                            <p>{{ i.deadline }}</p>
                            <p>{{ i.priority }}</p>
                            <p>{{ i.deadline }}</p>
                            {% if i.done == True %}
                                <div>
                                    <p>Task finished</p>
                                </div>
                            {% else %}
                                <div>
                                    <p>Task is not finished yet</p>
                                </div>
                            {% endif %}
                            <a href="/edittask/{{ i.id }}"> View the task</a>
                        {% endfor %}
                    {% else %}
                        <div>
                            <p>No tasks with such deadline found</p>
                        </div>
                    {% endif %}
                </div>
            <hr color="yellow"><br><br>

            <p>Deadline: the day after tomorrow</p>
            <hr color="green">
                <div>
                    {% if tasks_the_day_after_tomorrow is not None %}
                        {% for i in tasks_the_day_after_tomorrow %}
                            <p>{{ i.text }}</p>
                            <p>{{ i.deadline }}</p>
                            <p>{{ i.priority }}</p>
                            <p>{{ i.deadline }}</p>
                            {% if i.done == True %}
                                <div>
                                    <p>Task finished</p>
                                </div>
                            {% else %}
                                <div>
                                    <p>Task is not finished yet</p>
                                </div>
                            {% endif %}
                            <a href="/edittask/{{ i.id }}"> View the task</a>
                        {% endfor %}
                    {% else %}
                        <div>
                            <p>No tasks with such deadline found</p>
                        </div>
                    {% endif %}
                </div>
            <hr color="green"><br><br>

            <a href="/tasklist/">All tasks</a><br>
            </div>
        {% endblock %}
</body>
</html>